# KiCad
*.kicad_prl
*.bak
*.lck
_autosave*
#auto_saved_files#
fp-info-cache
*-backups/

# KiCad production
production/
fabrication-toolkit-options.json

# FreeCAD
*.FCBak
*.FCStd1
*.tmp

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
